@use "@/app/styles/variables.scss" as *;

.navbar {
  padding: 1rem 0;
  background-color: $bg-secondary;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: $text-primary;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.link {
  color: $text-secondary;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;

  &:hover,
  &.active {
    color: $primary;
  }
}

.locale {
  margin-left: 0.5rem;
}
